*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right , #2c5364,#203a43);
  font-family: sans-serif;
}

.App{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  background: white;
  padding: 40px 20px;
}


.card{

}